body{
background: beige;

}
.box{
     
    margin: 80px auto ;
    width: 940px;
}

.icone{

    margin: 2em 0 0 2em;

}

h1 {
    padding: 1em 0 1em 1em;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}
p{
    padding:0 2em ;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1m;
    color: hsla(0, 0%, 100%, 0.75);
    
}

.boxsedan{
    display: inline-block;
    width: 33%;
    background: hsl(31, 77%, 52%);
    border-radius: 15px 0 0 15px ;
} 
.boxsedan .botão{
    color: hsl(31, 77%, 52%); 
    padding: 15px;
    display: inline-block;
    padding: 15px;
    background:  hsl(0, 0%, 95%);
    border-radius: 25px;
    margin: 5em 0 2em 2em;
}

.boxsedan .botão:hover{

    background:hsl(31, 77%, 52%) ;
    color: hsl(0, 0%, 95%);
    border: 3px solid hsl(0, 0%, 95%);
    cursor: pointer;
}

.boxsuv{
    display: inline-block;
    width: 33%;
    background: hsl(184, 100%, 22%);

  
}
.boxsuv .botão{
    color: hsl(184, 100%, 22%) ;
    padding: 15px;
    display: inline-block;
    padding: 15px;
    background:  hsl(0, 0%, 95%);
    border-radius: 25px;
    margin: 5em 0 2em 2em;
   
}

.boxsuv .botão:hover{

    background: hsl(184, 100%, 22%)  ;
    color: hsl(0, 0%, 95%);
    border: 3px solid hsl(0, 0%, 95%);
    cursor: pointer;
}

.boxluxury{ 
    display: inline-block;
    width: 33%;
    background: hsl(179, 100%, 13%);
    border-radius: 0 15px 15px 0;
}
.boxluxury .botão{
    background: white;
    color: hsl(179, 100%, 13%) ;
    display: inline-block;
    padding: 15px;
    background:  hsl(0, 0%, 95%);
    border-radius: 25px;
    margin: 5em 0 2em 2em;
}

.boxluxury .botão:hover{

    background:hsl(179, 100%, 13%) ;
    color: hsl(0, 0%, 95%);
    border: 3px solid hsl(0, 0%, 95%);
    cursor: pointer;
}
.attribution{
    text-transform: uppercase;
    text-align: center;

}
.attribution a{
    color: hsl(184, 100%, 22%);
    text-decoration: none;
    transition: 1s all;
}
a:hover{

    font-size: 1.5em;
    cursor: pointer;
    text-shadow: 10px 10px 5px hsl(179, 100%, 13%) ;
    
}
/*início do mobile*/

@media screen and (max-width:480px){
    .box{
        width: auto;
    }
    .boxsedan, .boxsuv, .boxluxury{
        display: block;
        margin: 0 auto;
        width: 70%;
        
    }
    .boxsedan{
        border-radius: 15px 15px 0 0;
    }
    .boxluxury{

        border-radius: 0 0 15px 15px;

    }
    
    .attribution{
        line-height: 1.5;
    }
}